body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-align: right;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  
    
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px ;
    margin-left: 50px;
}

#main {
    display: flex;
    justify-content: space-between;
      padding: 25px 0px 10px 20px;
      margin-left: 20px; 
     margin-right: 20px;
      border: 2px solid black;
      text-align: right;

      padding: 16px;
   
  }
  .link-title{
    text-decoration: none;
    font-size: 25px;
    padding: 0 0 0 850px;
    color:#444444;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-items: center;
  }
  .welcome{
    text-align: center;
    margin-top: 350px;
  }

